
.fundo_principal
{
    background-image: url(img/endless-constellation.svg);
    background-size: cover;
    background-position: center center;
    height: 67.7rem;
    color: #fff;
}
.fundo_branco
{
    height: 67.7rem;
    color: #0b0633;
}
.conteudo_principal
{
    max-width: 120rem;
    margin: 0 auto;
}
 
.intro_content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
}
.intro_text, .intro_img
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro_img img
{
    max-width: 100%;
    height: auto;
}
.sec_habilidades
{
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.habilidade
{
    color: rgb(228,149,21);
}