
.fundo_principal
{
    background-image: url(img/endless-constellation.svg);
    background-size: cover;
    background-position: center center;
    min-height: 67.7rem;
    color: #fff;
}
.fundo_branco
{
    min-height: 67.7rem;
    color: #0b0633;
}
.conteudo_principal
{
    max-width: 120rem;
    margin: 0 auto;
}
 
.intro_content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
}
.intro_text, .intro_img
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro_img img
{
    max-width: 100%;
    height: auto;
}
.sec_galeria
{
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.galeria
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.galeria img 
{
    max-height: 300px;
    display: inline;
}
.img_projetos
{
    max-height: 500px;
    display: inline;
}